{% extends 'base/base.html' %}  
   
{% block contenido %}
    <div id="page-wrapper">

        <input style="width: 55%; height: 50px;" id="btn-input" type="text" class="form-control input-sm" placeholder="Escriba una publicación" />
        <span class="input-group-btn">
            <button style="width: 10%; height: 50px; position: relative; left: 55%; top: -50px;" class="btn btn-warning btn-sm" id="btn-chat">
                Publicar
            </button>
        </span>

        <div class="row">
            <div class="col-lg-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-clock-o fa-fw"></i> Ultimas publicaciones
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <ul class="timeline">
                            <li>
                                <div class="timeline-badge"> <img class="img-post" src="../../static/imagenes/eduardo.jpg">
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title">Eduardo Alvarado</h4>
                                        <p><small class="text-muted"><i class="fa fa-clock-o"></i> hace 1 hora</small>
                                        </p>
                                    </div>
                                    <div class="timeline-body">
                                        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>                                                             
                                     <div class="btn-group">
                                        <button type="button" class="btn btn-primary btn-sm dropdown-toggle">
                                            <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                                        </button>
                                        <button type="button" class="btn btn-primary btn-sm dropdown-toggle">
                                            <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                                        </button>                                     
                                            <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                                                <i class="fa fa-rss"></i> <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a href="#">Hacer eco con tus amigos</a>
                                                </li>
                                                <li><a href="#">Hacer eco con Twitter</a>
                                                </li>
                                                <li><a href="#">Hacer eco con Facebook</a>
                                                </li>
                                            </ul>
                                        </div>                                    
                                    </div>
                                </div>
                            </li>
                            <li class="timeline-inverted">
                                <div class="timeline-badge warning"><img class="img-post" src="../../static/imagenes/yuri.jpg">
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title">Yuri Freitez</h4>
                                        <p><small class="text-muted"><i class="fa fa-clock-o"></i> hace 2 horas</small>
                                        </p>                                    
                                    </div>
                                    <div class="timeline-body">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem dolorem quibusdam, tenetur commodi provident cumque magni voluptatem libero, quis rerum. Fugiat esse debitis optio, tempore. Animi officiis alias, officia repellendus.</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium maiores odit qui est tempora eos, nostrum provident explicabo dignissimos debitis vel! Adipisci eius voluptates, ad aut recusandae minus eaque facere.</p>
                                     <div class="btn-group">
                                        <button type="button" class="btn btn-primary btn-sm dropdown-toggle">
                                            <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                                        </button>
                                        <button type="button" class="btn btn-primary btn-sm dropdown-toggle">
                                            <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                                        </button>                                     
                                            <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                                                <i class="fa fa-rss"></i> <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a href="#">Hacer eco con tus amigos</a>
                                                </li>
                                                <li><a href="#">Hacer eco con Twitter</a>
                                                </li>
                                                <li><a href="#">Hacer eco con Facebook</a>
                                                </li>
                                            </ul>
                                        </div>                                     
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="timeline-badge danger"><img class="img-post" src="../../static/imagenes/carlos.jpg">
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title">Carlos</h4>
                                        <p><small class="text-muted"><i class="fa fa-clock-o"></i> hace 3 horas</small>
                                        </p>                                     
                                    </div>
                                    <div class="timeline-body">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus numquam facilis enim eaque, tenetur nam id qui vel velit similique nihil iure molestias aliquam, voluptatem totam quaerat, magni commodi quisquam.</p>
                                     <div class="btn-group">
                                        <button type="button" class="btn btn-primary btn-sm dropdown-toggle">
                                            <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                                        </button>
                                        <button type="button" class="btn btn-primary btn-sm dropdown-toggle">
                                            <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                                        </button>                                     
                                            <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                                                <i class="fa fa-rss"></i> <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a href="#">Hacer eco con tus amigos</a>
                                                </li>
                                                <li><a href="#">Hacer eco con Twitter</a>
                                                </li>
                                                <li><a href="#">Hacer eco con Facebook</a>
                                                </li>
                                            </ul>
                                        </div>                                     
                                    </div>
                                </div>
                            </li>
                            <li class="timeline-inverted">
                                <div class="timeline-badge warning"><img class="img-post" src="../../static/imagenes/ricardo.jpg">
                                </div>                        
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title">Ricardo</h4>
                                        <p><small class="text-muted"><i class="fa fa-clock-o"></i> hace 4 horas</small>
                                        </p>                                    
                                    </div>
                                    <div class="timeline-body">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates est quaerat asperiores sapiente, eligendi, nihil. Itaque quos, alias sapiente rerum quas odit! Aperiam officiis quidem delectus libero, omnis ut debitis!</p>
                                     <div class="btn-group">
                                        <button type="button" class="btn btn-primary btn-sm dropdown-toggle">
                                            <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                                        </button>
                                        <button type="button" class="btn btn-primary btn-sm dropdown-toggle">
                                            <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                                        </button>                                     
                                            <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                                                <i class="fa fa-rss"></i> <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a href="#">Hacer eco con tus amigos</a>
                                                </li>
                                                <li><a href="#">Hacer eco con Twitter</a>
                                                </li>
                                                <li><a href="#">Hacer eco con Facebook</a>
                                                </li>
                                            </ul>
                                        </div>                                     
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="timeline-badge info"><i class="fa fa-save"></i>
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title">Andres Moran</h4>
                                        <p><small class="text-muted"><i class="fa fa-clock-o"></i> hace 5 horas</small>
                                        </p>                                    
                                    </div>
                                    <div class="timeline-body">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis minus modi quam ipsum alias at est molestiae excepturi delectus nesciunt, quibusdam debitis amet, beatae consequuntur impedit nulla qui! Laborum, atque.</p>
                                     <div class="btn-group">
                                        <button type="button" class="btn btn-primary btn-sm dropdown-toggle">
                                            <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                                        </button>
                                        <button type="button" class="btn btn-primary btn-sm dropdown-toggle">
                                            <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                                        </button>                                     
                                            <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                                                <i class="fa fa-rss"></i> <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a href="#">Hacer eco con tus amigos</a>
                                                </li>
                                                <li><a href="#">Hacer eco con Twitter</a>
                                                </li>
                                                <li><a href="#">Hacer eco con Facebook</a>
                                                </li>
                                            </ul>
                                        </div>                                     
                                        <hr>
                                    </div>
                                </div>
                            </li>
                            <li class="timeline-inverted">
                                <div class="timeline-badge success"><i class="fa fa-graduation-cap"></i>
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title">Pedro Mejias</h4>
                                        <p><small class="text-muted"><i class="fa fa-clock-o"></i> hace 7 horas</small>
                                        </p>                                    
                                    </div>
                                    <div class="timeline-body">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt obcaecati, quaerat tempore officia voluptas debitis consectetur culpa amet, accusamus dolorum fugiat, animi dicta aperiam, enim incidunt quisquam maxime neque eaque.</p>
                                     <div class="btn-group">
                                        <button type="button" class="btn btn-primary btn-sm ">
                                            <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                                        </button>
                                        <button type="button" class="btn btn-primary btn-sm">
                                            <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                                        </button>                                     
                                            <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                                                <i class="fa fa-rss"></i> <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a href="#">Hacer eco con tus amigos</a>
                                                </li>
                                                <li><a href="#">Hacer eco con Twitter</a>
                                                </li>
                                                <li><a href="#">Hacer eco con Facebook</a>
                                                </li>
                                            </ul>
                                        </div>                                     
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-8 -->
            <div class="col-lg-4">
                <div style="position: fixed;" class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bell fa-fw"></i> Mis canales
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="list-group">
                            <a href="#" class="list-group-item">
                                <i class="fa fa-cloud-upload"></i> Computacion en la nube
                                <span class="pull-right text-muted small"><em>15 miembros</em>
                                </span>
                            </a>
                            <a href="#" class="list-group-item">
                                <i class="fa fa-video-camera"></i> Videos
                                <span class="pull-right text-muted small"><em>12 miembros</em>
                                </span>
                            </a>
                            <a href="#" class="list-group-item">
                                <i class="fa fa-camera"></i> Fotografia
                                <span class="pull-right text-muted small"><em>27 miembros</em>
                                </span>
                            </a>
                            <a href="#" class="list-group-item">
                                <i class="fa fa-futbol-o "></i> Deportes
                                <span class="pull-right text-muted small"><em>43 miembros</em>
                                </span>
                            </a>
                        </div>
                        <!-- /.list-group -->
                        <a href="#" class="btn btn-default btn-block">Ver todos los canales</a>
                    </div>
                    <!-- /.panel-body -->
                </div>
            </div>
            <!-- /.col-lg-4 -->
        </div>
        <!-- /.row -->
    </div>
<!-- /#page-wrapper --> 
{% endblock %}