{% extends 'base/base.html' %}

{% block body %}
    {% block contenido %}
        <div class="div-registro" class="container">
            <div class="row">
                <h1 class="h1-mensaje-bienvenida">Bienvenido a la nueva red social</h1>
                <img class="img-bienvenida" src="../../static/imagenes/logo8.png">
                <h3 class="h3-bienvenida"> Una nueva forma de comunicarte con tus compañeros egresados de la universidad</h3>
            </div>
            <div class="row" >
                <div class="col-md-4 col-md-offset-4">
                    <div class="login-panel panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Por favor ingrese sus datos para crear su cuenta</h3>
                        </div>
                        <div class="panel-body">
                            <form role="form" method="post" route="">
                            {% csrf_token %}
                                <fieldset>
                                    <div class="form-group">
                                        {{ form.id_usuario }}
                                    </div>                                
                                    <div class="form-group">
                                        {{ form.nombre }}
                                    </div>
                                    <div class="form-group">
                                        {{ form.apellido }}
                                    </div>     
                                    <div class="form-group">
                                        {{ form.carrera }}
                                    </div>                                                                                <div class="form-group">
                                        {{ form.promocion }}
                                    </div>          
                                    <div class="form-group">
                                        {{ form.correo }}
                                    </div>
                                    <div class="form-group">
                                        {{ form.clave }}
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="Repita su contraseña" name="password" type="password" value="">
                                    </div>                                
                                    <div class="checkbox">
                                    </div>
                                    <!-- Change this to a button or input when using this as a form -->
                                    <!--<input type="submit" name="aceptar" placeholder="Aceptar">-->
                                    <a href="inicio" class="btn btn-lg btn-success btn-block">Aceptar</a>
                                    <a href="#" class="btn btn-lg btn-success btn-block">Cancelar</a>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
{% endblock %}